body {
  margin: o;
  display: flex;
  text-align: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
.TaskWrapper {
  display: flex;
  width: 200px;
  margin-top: 10px;
}
.taskTitle {
  margin-left: 10px;
}
.close {
  margin-left: auto;
  cursor: pointer;
}